<app-blognavbar></app-blognavbar>


<body>

  <div class="container">
    <h1>See ours posts</h1>

      <img routerLink="/blog/posts/backend"
        class="imagesPages"
        src="../../assets/imagesBlog/backendCard.png"
        alt="Computer image"
        width="500"
        layout="responsive"
    />
    <img routerLink="/blog/posts/cloudsuite"
        class="imagesPages"
        src="../../assets/imagesBlog/cloudSuiteCard.png"
        alt="Computer image"
        width="500"
        layout="responsive"
    />

    <img routerLink="/blog/posts/devops"
        class="imagesPages"
        src="../../assets/imagesBlog/devOpsCard.png"
        alt="Computer image"
        width="500"
        layout="responsive"
    />
    <img routerLink="/blog/posts/frontend"
        class="imagesPages"
        src="../../assets/imagesBlog/frontEndCard.png"
        alt="Computer image"
        width="500"
        layout="responsive"
    />

  </div>
</body>
