<section>
    <div class="container">
        <div class="title_container">
            <h2 class="main_title">Our Services</h2>
            <h6 class="subtitle">We provide a diverse array of digital services to meet constantly evolving needs. With our expertise, we turn ideas into solutions ready for the market. Explore our services and be part of the digital revolution.</h6>
        </div>
        <div class="banner">
            <h6 class="banner_title">Restaurant Applications</h6>
            <a routerLink="/services/food-services">
                <img src="/assets/servicesImages/services_img_1.svg">
            </a>
        </div>
        <div class="banner">
            <h6 class="banner_title">Real Estate Solutions</h6>
            <a routerLink="/services/real-state-services">
                <img src="/assets/servicesImages/services_img_2.svg">
            </a>
        </div>
        <div class="banner">
            <h6 class="banner_title">UX / UI Services</h6>
            <a routerLink="/services/ux-ui-services">
                <img src="/assets/servicesImages/services_img_3.svg">
            </a>
        </div>
        <div class="banner">
            <h6 class="banner_title">Educational Services</h6>
            <a routerLink="/services/educational-services">
                <img src="/assets/servicesImages/services_img_4.svg">
            </a>
        </div>
        <div class="banner">
            <h6 class="banner_title">Travel Agency Solutions</h6>
            <a routerLink="/services/travel-services">
                <img src="/assets/servicesImages/services_img_5.svg">
            </a>
        </div>
        <div class="banner">
            <h6 class="banner_title">Web Development Services</h6>
            <a routerLink="/services/web-development-services">
                <img src="/assets/servicesImages/services_img_6.svg">
            </a>
        </div>
        <div class="banner">
            <h6 class="banner_title">ERP / CRM Solutions</h6>
            <a routerLink="/services/erp-crm-services">
                <img src="/assets/servicesImages/services_img_7.svg">
            </a>
        </div>
        <div class="banner">
            <h6 class="banner_title">Mobile App Development</h6>
            <a routerLink="/services/mobile-development">
                <img src="/assets/servicesImages/services_img_8.svg">
            </a>
        </div>
    </div>
</section>