<section class="bottom_section">
  <div class="key_features">
    <h3 class="title">Key Features:</h3>
    <p class="paragraph_feat">Intuitive Portal Design and Development</p>
    <p class="paragraph_feat">Advanced Property Search Integration</p>
    <p class="paragraph_feat">Boost Your Sales with Our Expertise in Digital Marketing.</p>
    <p class="paragraph_feat">Personalized Service for Every Buyer Profile.</p>
  </div>
  <div class="image_container">
    <img src="../../../assets/images/realStateServicesImages/real_state_2.png" alt="">
  </div>
</section>
