<section class="container">
    <div class="upper_title_container">
        <h2 class="title">Design. Code. Transform.</h2>
        <p>Your Digital Evolution Starts Here.</p>
    </div>
    <div class="content_container">
        <div class="image_container_1">
            <img src="/assets/webDevelopmentImages/web-development-1.svg" alt="Section First Image">
        </div>
        <div class="paragraph_container">
            <p class="paragraph">Professional Website Development for Online Success, where we turn ideas into a remarkable online presence. We are a team of dedicated experts focused on creating digital solutions that impress and deliver results. By blending attractive design with advanced functionality, we provide a range of customized services to meet your needs.</p>
        </div>
    </div>
    <div class="bottom_container">
        <div class="key_features_container">
            <div class="title_container">
                <h6 class="key_title">Key features:</h6>
            </div>
            <div class="subtitle_container">
                <p class="subtitle">Custom Web Solutions: Tailor-made websites that align with your brand, goals, and user expectations.</p>
                <p class="subtitle">Responsive Design: Websites optimized for seamless viewing and interaction across various devices, ensuring a consistent user experience.</p>
                <p class="subtitle">Frontend Development: Engaging user interfaces with intuitive navigation and captivating design elements.</p>
                <p class="subtitle">Backend Development: Robust and scalable backend architecture, ensuring performance, security, and data management.</p>
                <p class="subtitle">E-commerce Integration: Create a powerful online storefront with secure payment gateways, inventory management, and a user-friendly shopping experience.</p>
                <p class="subtitle">Content Management Systems (CMS): Easy-to-use CMS platforms that empower you to manage and update your website content effortlessly.</p>
                <p class="subtitle">SEO Optimization: Implement SEO best practices to enhance your website's visibility and performance on search engines.</p>
            </div>
        </div>
        <div class="image_container_2">
            <img class="second_image" src="/assets/webDevelopmentImages/web-development-2.svg" alt="">
        </div>
    </div>
</section>