.container{
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container{
    background: url(/assets/foodServicesImages/food_services_background.svg) no-repeat;
    background-size: cover;
}
}