.container{
    display: flex;
    flex-direction: column;
}

@media (max-width: 962px) {
    .container{
    background: url(/assets/foodServicesImages/fork2.svg) no-repeat;
    background-size: cover;
}
}