<section>
        <div class="container_title">
            <h1>Portfolio</h1>
                <p>You need it? We have it! Lucas Technology Services offers a vast spectrum of digital solutions.</p>
        </div>
            <div>
                <div class="container_general">
                    <div class="container_card">
                        <div class="column_one">
                            <img src="../../../assets/images/homePage/prima.svg">
                            <img src="../../../assets/images/homePage/second.svg">
                        </div>
                        <div class="column_down">
                            <img src="../../../assets/images/homePage/trh_port.svg">
                            <img src="../../../assets/images/homePage/four_port.svg">
                        </div>
                    </div>
                </div>
                </div>
            <section class="button_containner">
                <a href="../../portifolio/portifolio.component.ts" class="button">About</a>
            </section>
</section>