<section>
    <div class="container_title">
        <h1>Blog</h1>
    </div>
    <div class="container">
        <img src="../../assets/images/homePage/one_blog.svg">
        <img src="../../assets/images/homePage/blog_two.svg">
    </div>
    <div class="container">
        <img src="../../assets/images/homePage/logo_luc.svg">
        <img src="../../assets/images/homePage/blog_four.svg">
    </div>
    <section class="button_containner">
        <a href="../../blog//blog.component.ts" class="button">About</a>
    </section>
</section>