.container_title {
    min-width: 67%;
    display: flex;
    flex-direction: column;
    margin: 2rem 15rem;
}

.container_title h1 {
    color: #000;
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}
  
  .container {
    display: flex;
    background: #000;
  
    @media (min-width: 769px) and (max-width: 1300px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  
  .button_containner {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
    margin-right: 5%;
  }
  
  .button {
    padding: 1rem 2.5rem;
    color: #5050EA;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
  
    @media (max-width: 337px) {
      width: 240px;
      text-align: center;
      justify-content: center;
    }
  }
  
  .button:hover {
    background-color: #5050EA;
    color: #FFFFFF;
  }
  