<section class="container">
    <div class="image_container">
        <img class="image" src="/assets/foodServicesImages/food_services_img_1.svg">
    </div>
    <div class="texts_container">
        <div class="first_text_container">
            <p class="first_text">In the heart of the food industry, being online is a key factor for your growth and make your business thrive. Our specialised team have the know how to implement creative digital solutions and develop websites and food apps seasoned to your needs.</p>
        </div>
        <div class="second_text_container">
            <h6 class="title">Key features:</h6>
            <p class="subtitle">Online menus, orders, reservations and social media: All in one place, integrated quick. Easy. </p>
            <p class="subtitle">SEO: Search Engine Optmisation. You don’t sell if you’re not seen.</p>
            <p class="subtitle">Web design, development and Apps as well.</p>
            <p class="subtitle">Reservations, sell and stock reports.</p>
        </div>
    </div>
</section>
