.container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    align-content: center;
}

.image_container {
    max-width: 40%;
}

.image {
    max-width: 100%;
}

.texts_container {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    align-items: center;
    
}

.first_text_container{
    display: flex;
    justify-content: center;
    max-width: 70%;
}

.first_text{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 1.1px;
}

.second_text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title_container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.title {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.6px;
}

.subtitle_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
}

.subtitle {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.4px;
}

@media (min-width: 1180px) and (max-width: 1450px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        padding: 0 20px 0 10px;
    }

    .texts_container {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    .second_text_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70%;
    }

    .title_container {
        width: 50%;
    }
}

@media (min-width: 770px) and (max-width: 1400px) {
    .first_text {
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 1.1px;
    }

    .texts_container {
        max-width: 40%;
    }

    .image_container {
        max-width: 50%;
    }

    .title {
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.6px;
    }
    
    .subtitle {
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.4px;
    }
}

@media (max-width: 768px) {
    .image_container {
        display: none;
    }
}