<section class="bottom_section">
  <div class="image_container">
    <img class="secondary_image" src="../../../assets/images/travelServicesImages/image_travel_2.png" alt="">
  </div>
  <div class="key_features">
    <h3 class="title">Key Features</h3>
    <p class="paragraph_feat">Customized Itineraries: Tailor-made travel experiences crafted to match your preferences, ensuring a journey that's uniquely yours.</p>
    <p class="paragraph_feat">Expert Destination Knowledge: Benefit from the expertise of our travel specialists who offer insider insights and recommendations for each destination.</p>
    <p class="paragraph_feat">24/7 Support: Travel with confidence knowing our support team is available around the clock, ready to assist with any concerns or unexpected changes.</p>
    <p class="paragraph_feat">Group and Solo Travel Options: Whether you're seeking a solo adventure or planning a group getaway, our services cater to all travel styles.</p>
    <p class="paragraph_feat">Travel Insurance: Safeguard your adventures with comprehensive travel insurance options, providing peace of mind in case of unforeseen circumstances.</p>
    <p class="paragraph_feat">Personalized Concierge Services: Elevate your travel experience with personalized concierge services, ensuring every detail is taken care of for a worry-free journey.</p>
  </div>
</section>
