<div class="container">
    <div class="cards-container">
      <ul class="cards_list">
        <li class="card">
          <img src="/assets/portfolioImages/bny.png" alt="Minha Imagem Estilizada" class="styled-image">
        </li>
        <li class="card">
          <img src="/assets/portfolioImages/firjan.png" alt="Minha Imagem Estilizada" class="styled-image">
        </li>
        <li class="card">
          <img src="/assets/portfolioImages/muvz.png" alt="Minha Imagem Estilizada" class="styled-image">
        </li>
        <li class="card">
          <img src="/assets/portfolioImages/stefanini.png" alt="Minha Imagem Estilizada" class="styled-image">
        </li>
        <li class="card">
          <img src="/assets/portfolioImages/pjerj.png" alt="Minha Imagem Estilizada" class="styled-image">
        </li>
      </ul>
    </div>
  </div>
  