<header class="container__banner"></header>
    <section>
        <img src="../assets/images/homePage/Frame.png" alt="Banner Image" class="banner">
        <h1>Services</h1>
        <h2>Educational Services customised in your way.</h2>
        <p>Step up your business with our CRM and ERP services.</p>
        <p>Build thrilling Travel Agency portals with us.</p>
        <p>Have the best User Interface and Experience with our UI/UX team.</p>
    </section>
    <section>
        <h2>Cutting-edge Mobile Apps</h2>
    </section>
    <section>
        <h2>High-end Real Estate services</h2>
    </section>
    <section>
        <h2>About</h2>
        <p>Portfolio</p>
        <p>You need it? We have it! Lucas Technology Services offers a vast spectrum of digital solutions.</p>
        <p>Contact us!</p>
    </section>
    <footer>
        <section>
            <h2>About us</h2>
            <p>Lucas Technology Services: We're always evolving, pushing the boundaries of technology to the very edge. We have a worldwide presence, meaning we offer worldwide solutions.</p>
        </section>
        <section>
            <h2>Blog</h2>
        </section>
    </footer>
    <footer>
        <p>Lucas Technology Services</p>
        <p>All rights reserved.</p>
    </footer>
