<div class="container">
  <form (ngSubmit)="submitForm()" #contactForm="ngForm">
    <div class="title">
      <h1>Contact us</h1>
      <hr class="line" />
    </div>
    <div class="data">
      <input type="text" name="name" #nameInput placeholder="Name" [(ngModel)]="formData['dataClient']['name']"
        [class.invalid-field]="isNameInvalid" required />

      <p class="error" *ngIf="isNameInvalid">Required field</p>

      <input type="email" name="email" #emailInput placeholder="Email" [(ngModel)]="formData['dataClient']['email']"
        [class.invalid-field]="isEmailInvalid" required />

      <p class="error" *ngIf="isEmailInvalid">Required field</p>

      <input type="tel" name="tel" #telInput placeholder="Telephone" [(ngModel)]="formData['dataClient']['tel']"
        [class.invalid-field]="isTelInvalid" required />
      <p class="error" *ngIf="isTelInvalid">Required field</p>

      <textarea rows="8" cols="70" placeholder="Message" #messageInput></textarea>
    </div>
    <div class="first-button">
      <label>
        <button type="submit" [class.sending]="isSending" [disabled]="isSending">
          {{ isSending ? 'Sending' : 'Send' }}
        </button>
      </label>
    </div>
  </form>

  <div class="google-privacy">
    <a href="https://policies.google.com/privacy" class="privacidade">
      This site is protected by reCAPTCHA. Google's Privacy Policy and Terms of Service apply.
    </a>
  </div>

  <div class="name">
    <label>
      <h4 class="name">Lucas Technology Services</h4>
    </label>
  </div>

  <div class="address">
    <label>
      <p class="endereco">16 E 52nd St # 302, 1048, New York, United States</p>
    </label>
    <label>
      <p class="endereco">235 City Walk, 1385, Canberra, Australian Capital Territory 329699, AU</p>
    </label>
    <label>
      <p class="endereco">Rua do Comércio 235, 207, Lisboa, Aveiro 4505, Portugal</p>
    </label>
    <label>
      <p class="endereco">79 E Flagler St, 1412, Miami, Florida 33131, United States</p>
    </label>
    <label>
      <p class="endereco">Avenida Vicente de Carvalho 1086, 22, Rio de Janeiro, RJ 21210630, Brazil</p>
    </label>
  </div>

  <div class="email">
    <label>
      <a class="email_link" href="mailto:commercial2018@lucastechnologyservice.com">
        commercial2018&#64;lucastecnologyservice.com
      </a>
    </label>
    <label>
      <a href="tel:{{ phoneNumber }}">
        +1 212 796-6950
      </a>
    </label>
  </div>

  <div class="whatsapp-button">
    <div class="second-button">
      <button class="mensagem" (click)="handleWhatsAppClick()">
        <fa-icon [icon]="['fab', 'whatsapp']" class="whatsapp-icon"></fa-icon>
        <p>Send message</p>
      </button>
    </div>
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d519.033140760522!2d-73.97536948098286!3d40.75918568145696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258fb8b8432c9%3A0xba7ab36fc656f295!2s16%20E%2052nd%20St%20302%201048%2C%20New%20York%2C%20NY%2010022%2C%20EUA!5e0!3m2!1spt-BR!2sbr!4v1706187345823!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>
