<section>
    <div class="container_title">
        <div class="title">
            <h1>Services</h1>
        </div>
        <div class="card_container_tp">
            <section class="card">
                <img src="../../../assets/images/homePage/primas.svg" alt="">
                <p>Educational Services cutomised in your way.</p>
            </section>
            <section class="card">
                <img src="../../../assets/images/homePage/secon.svg">
                <p>Step up your business with our CRM and ERP services</p>
            </section>
            <section class="card">
                <img src="../../../assets/images/homePage/thr.svg">
                <p>Build thrilling Travel Agency portals with us.</p>
            </section>
            </div>
            <div class="card_container_bt">
            <section class="card">
                <img src="../../../assets/images/homePage/four.svg">
                <p>Have the best User Interface and Experience with our UI/UX team.</p>
            </section>
            <section class="card">
                <img src="../../../assets/images/homePage/five.svg">
                <p>Cutting edge Mobile Apps</p>
            </section>
            <section class="card">
                <img src="../../../assets/images/homePage/six.svg">
                <p>High end Real Estate services</p>
            </section>
            </div>
    </div>
    <section class="button_containner">
        <a href="../../services/services.component.ts" class="button">About</a>
    </section>
</section>