.containner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem 96px 0 96px;
  }
  
  .title {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 32px;
  }
  
  .card_containner_tp,
  .card_container_bt {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .card_container_bt {
    margin-top: 32px;
  }
  
  .card {
    flex-basis: 30%;
    text-align: center;
    gap: 322px;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }

  .button_containner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 96px;
  }
  
  .button {
    
    padding: 10px 20px;
    color: #5050EA;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #5050EA;
    color: #FFFFFF;
  }
  
  .button:active {
    background-color: #3e8e41;
  }
  
  