body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

img {
  height: 100%;
  width: 100%;
  transition: transform 1s;
}

img:hover{
  transform: translateZ(20px);
}

section {
  width: 100%;
  overflow: hidden;
}

article {
  display: flex;
  width: 250%;
  overflow: hidden;
  justify-content: center;
  animation: bannermove 20s linear infinite;
}

article:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

div {
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 2.5rem;
  gap: 5rem;
}

li {
  width: 100%;
  perspective: 130px;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
