<section class="bottom_section">
  <div class="key_features">
    <h3 class="title">Key Features:</h3>
    <p class="paragraph_feat">Designing an intuitive educational interface: engaging Learning.</p>
    <p class="paragraph_feat">Integration of didactic and interactive resources, focusing on diverse learning.</p>
    <p class="paragraph_feat">Custom LMS development enabling student tracking and assessment.</p>
    <p class="paragraph_feat">Collaboration between students and teachers through chats, FAQs, and video calls.</p>
  </div>
  <div class="image_container">
    <img src="../../../assets/images/image_education_2.png" alt="">
  </div>
</section>
