<footer>
    <div class="container">
      <div class="span-container">
        <span class="brand">Lucas Technology Services</span>
        <span class="copyright">All rights reserved</span>
      </div>
      <div class="socials-container">
        <a href="https://www.linkedin.com/company/71696971/admin/" target="_blank">
          <fa-icon [icon]="['fab', 'linkedin']" class="linkedin-icon"></fa-icon>
        </a>
        <a href="https://github.com/Lucas-Technology-Services" target="_blank">
          <fa-icon [icon]="['fab', 'github']" class="github-icon"></fa-icon>
        </a>        
      </div>
    </div>
  </footer>
  
