<footer>
    <div class="container">
      <div class="span-container">
        <span class="brand">Lucas Technology Services</span>
        <span class="copyright">Todos os direitos reservados</span>
      </div>
      <div class="socials-container">
        <a href="https://www.linkedin.com/company/71696971/admin/" target="_blank">
          <i class="fab fa-linkedin linkedin-icon"></i>
        </a>
        <a href="https://github.com/Lucas-Technology-Services" target="_blank">
          <i class="fab fa-github github-icon"></i>
        </a>
      </div>
    </div>
  </footer>
  
