<section class="bottom_section">
  <div class="key_features">
    <h3 class="title">Key Features:</h3>
    <p class="paragraph_feat">Intuitive navigation for user convenience.</p>
    <p class="paragraph_feat">Seamless design enhances user engagement.</p>
    <p class="paragraph_feat">User-centric interface for optimal usability.</p>
    <p class="paragraph_feat">Effortless interactions for exceptional experiences.</p>
  </div>
  <div class="image_container">
    <img src="../../../../assets/uiUxImages/uxHero.svg" alt="">
  </div>
</section>
