<nav class="navbar">
  <div class="hamburger-menu" (click)="toggleMenu()" *ngIf="isMenuVisible">
    <div class="bar" [ngClass]="{ 'open': isMenuOpen }"></div>
    <div class="bar" [ngClass]="{ 'open': isMenuOpen }"></div>
    <div class="bar" [ngClass]="{ 'open': isMenuOpen }"></div>
  </div>
  <div>
    <a routerLink="/">
      <img src="/assets/navbarImages/LTS_navbar_logo.png" alt="Lucas Tecnologia Services Logo">
    </a>
  </div>
  <div class="major-links-container" [ngClass]="{ 'show-links': isMenuOpen && isMenuVisible, 'hide-links': !isMenuOpen || !isMenuVisible }">
    <a class="major-link" routerLink="/" (click)="toggleMenu()">Home</a>
    <a class="major-link" routerLink="/services" (click)="toggleMenu()">Services</a>
    <a class="major-link" routerLink="/portifolio" (click)="toggleMenu()">Portfolio</a>
    <a class="major-link" routerLink="/contact" (click)="toggleMenu()">Contact</a>
    <a class="major-link" routerLink="/about-us" (click)="toggleMenu()">About us</a>
    <a class="major-link" routerLink="/blog" (click)="toggleMenu()">Blog</a>
    <button *ngIf="isMenuVisible" class="close-button" (click)="toggleMenu()">
      <i class="close-icon">X</i>
    </button>
  </div>
</nav>
