<nav class="navbar fixed">
  <div class="hamburger-menu" (click)="toggleMenu()" *ngIf="isMenuVisible">
    <div class="bar" [ngClass]="{ 'open': isMenuOpen }"></div>
    <div class="bar" [ngClass]="{ 'open': isMenuOpen }"></div>
    <div class="bar" [ngClass]="{ 'open': isMenuOpen }"></div>
  </div>
  <div>
    <img src="/assets/navbarImages/LTS_navbar_logo.png" alt="Lucas Tecnologia Services Logo">
  </div>
  <div class="major-links-container" [ngClass]="{ 'show-links': isMenuOpen && isMenuVisible, 'hide-links': !isMenuOpen || !isMenuVisible }">
    <a routerLink="/">Home</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/portfolio">Portfolio</a>
    <a routerLink="/contact">Contact us</a>
    <a routerLink="/aboutUs">About us</a>
    <a routerLink="/blog">Blog</a>
    <button *ngIf="isMenuOpen" class="close-button" (click)="toggleMenu()">
      <i class="close-icon">X</i>
    </button>
  </div>
</nav>
