<section class="container">
    <div class="upper_container">
        <div class="image_container_1">
            <img src="/assets/crmErpImages/crm-erp-services-img1.svg" alt="Section First Image">
        </div>
        <div class="paragraph_container">
            <p class="paragraph">Streamline Your Business Operations with Our Comprehensive ERP Solutions. Elevate efficiency, enhance collaboration, and unlock unparalleled insights for informed decision-making.</p>
        </div>
    </div>
    <div class="bottom_container">
        <div class="key_features_container">
            <div class="title_container">
                <h6 class="title">Key features:</h6>
            </div>
            <div class="subtitle_container">
                <p class="subtitle">Integrated Modules: Centralize your business processes with seamlessly integrated modules for finance, HR, supply chain, and more. </p>
                <p class="subtitle">Real-time Data: Access up-to-the-minute data for actionable insights, fostering informed decision-making and strategic planning.</p>
                <p class="subtitle">Automation: Reduce manual efforts and errors by automating routine tasks, allowing your team to focus on strategic initiatives.</p>
                <p class="subtitle">Scalability: Grow confidently with a scalable ERP solution that adapts to the evolving needs and size of your business.</p>
                <p class="subtitle">User-Friendly Interface: Ensure widespread adoption with an intuitive interface that makes navigating the ERP system a breeze for all users.</p>
            </div>
        </div>
        <div class="image_container_2">
            <img src="/assets/crmErpImages/crm-erp-services-img2.svg" alt="">
        </div>
    </div>
</section>