<section class="bottom_section">
    <div class="image_container">
      <img class="secondary_image" src="/assets/mobileDevelopmentImages/mobile_development_img_2.svg" alt="">
    </div>
    <div class="key_features">
      <h3 class="title">Key Features</h3>
      <p class="paragraph_feat">Intuitive App Design and Development for iOS, Android, and Windows Phone</p>
      <p class="paragraph_feat">Seamless Cloud Integration and API Connectivity</p>
      <p class="paragraph_feat">Performance and Speed Optimization</p>
      <p class="paragraph_feat">Thorough Testing to Ensure Quality</p>
    </div>
  </section>