.container {
    margin-top: 90px;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-height: 500px;
    background-color: white;
  }
  
  .title {
    color: rgb(2, 31, 62);
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    padding: 20px;
  }
  
  .span-div {
    display: flex;
    justify-content: center;
  }
  
  .span {
    display: block;
    height: 2px;
    width: 40px;
    background-color: rgb(2, 31, 62);
  }
  