<section class="container">
    <div class="upper_container">
        <div class="image_container_1">
            <img src="/assets/crmErpImages/crm-erp-services-img3.svg" alt="Section First Image">
        </div>
        <div class="paragraph_container">
            <p class="paragraph">Empower Your Customer Relationships with Our Dynamic CRM Solutions. Elevate customer satisfaction, optimize engagement, and drive business growth through personalized interactions.</p>
        </div>
    </div>
    <div class="bottom_container">
        <div class="key_features_container">
            <div class="title_container">
                <h6 class="title">Key features:</h6>
            </div>
            <div class="subtitle_container">
                <p class="subtitle">360-Degree View: Gain a comprehensive view of customer interactions, allowing for personalized and targeted engagement strategies.</p>
                <p class="subtitle">Lead Management: Efficiently track and manage leads from acquisition to conversion, optimizing your sales funnel.</p>
                <p class="subtitle">Automation of Sales Processes: Streamline sales workflows with automated processes, saving time and ensuring consistency.</p>
                <p class="subtitle">Customer Support: Provide exceptional customer service with tools for issue tracking, ticket resolution, and customer communication.</p>
                <p class="subtitle">Analytics and Reporting: Leverage data-driven insights to evaluate customer trends, measure performance, and refine your strategies.</p>
            </div>
        </div>
        <div class="image_container_2">
            <img src="/assets/crmErpImages/crm-erp-services-img4.svg" alt="">
        </div>
    </div>
</section>
