<div class="container">
    <div>
      <h1 class="title">Visite nosso Github</h1>
      <div class="span-div">
        <span class="span"></span>
      </div>
    </div>
    <section class="repository-container">
      <div>
        <img src="/assets/portfolioImages/github.png" alt="Github logo" class="github-image">
      </div>
      <div class="github-container">
        <h6 class="subtitle">Nosso repositório</h6>
        <a href="https://github.com/Lucas-Technology-Services" target="_blank">
          <button class="github-button">Nosso Github</button>
        </a>
      </div>
    </section>
  </div>
  