.container{
    display: flex;
    flex-direction: column;
  }
  
  .page_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1.063rem;
  }
  
  .page_title h2{
    margin-top: 70px;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .page_title p{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media (min-width: 366px) and (max-width: 500px) {
    .page_title h2 {
      font-size: 1.70rem;
  }
    .page_title p {
      font-size: 1.1rem;
    }
}

@media (max-width: 365px) {
  .page_title h2 {
    font-size: 1.50rem;
}
}